.bookCard {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}

input:focus {
    border: solid 1px lightgreen;

}

form {
    display: flex;
    flex-direction: column;
    width: 50vmax;
    height: 50vmax;
}